.messages {
    height: 450px;
    width: 550px;
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 70px 1fr 60px;
    grid-template-columns: 1fr;
}

.header {
    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 7px -5px rgba(139, 151, 161, 0.54);
    -moz-box-shadow: 0 5px 7px -5px rgba(139, 151, 161, 0.54);
    font-weight: 700;
    box-shadow: 0 5px 7px -5px rgba(139, 151, 161, 0.54);
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr;
}
.header div:nth-child(1) {
    padding: 5px 0 0 10px;
}
.header div:nth-child(2) {
    padding: 20px 5px 0 0 ;
}
.btnHeader {
    padding: 5px 7px;
    font-weight: 550;
    float: right;
    border: none;
    outline: none;
    color: white;
    background-color: #7e4fffb3;
    border-radius: 5px;
}
.btnHeader:hover {
    transition: .5s;
    box-shadow: 0 0 5px 5px rgba(62, 60, 253, 0.2);
}
.btnHeaderRemove {
    font-size: 16px;
}a
.btnHeaderSaved {
    font-size: 16px;
}
.messagesBlock {
    padding: 5px 0;
    overflow-y: auto;
}
.messagesBlock::-webkit-scrollbar {
    width: 8px;
}

.messagesBlock::-webkit-scrollbar-thumb {
    -webkit-box-shadow: 0 0 3px rgba(161, 157, 161, 0.71);
    border-radius: 3px;
}
/* Message */
.message {
    width: auto;
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50px 1fr 60px;
}
.text {
    font-size: 12px;
}
.textUser {
    word-break: break-all;
    margin: 0;
}
.time {
    overflow: hidden;
    font-size: 12px;
    text-align: center;
}
.complectedDialogText {
    border-radius: 30px 30px 0 0;
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: #c4c4c4;
    box-shadow: 0 -2px 6px 0 rgba(204, 204, 204, 0.86);
}
.complectedDialogText p {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.complectedDialogText span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: .9;
}
.writeHere {
    background-color: #c4c4c46c;
    border-radius: 0 0 5px 5px;
}
.writeHere form {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.writeHere textarea {
    padding: 0 5px 0 5px;
    font-size: 18px;
    border: none;
    outline: none;
    resize: none;
    background: none;
}
.writeHere textarea::-webkit-scrollbar {
    width: 5px;
}
.writeHere textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.writeHere textarea::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(161, 157, 161, 0.71);
}
.btnSettingInput {
    border: none;
    outline: none;
    opacity: .5;
    font-size: 20px;
    background: none;
}
.btnSend {
    margin: 10px auto;
    background-color: #698AFF;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    padding-left: 3px;
    font-size: 22px;
    color: white;
    border-radius: 10px;
}
.btnSend:hover {
    transition: .5s;
    background-color: #3863ff;
}