.main {
    background-color: #6C69FF;
    color: white;
    width:270px;
    min-height: 100px;
    max-height: 450px;
    margin: 0 auto;
    border-radius: 5px;
}

.header {
    position: relative;
    margin: 10px auto;
    width: 92%;
    height: 32px;
    display: flex;
    justify-content: space-between;

}

.headerBtn {
    cursor: pointer;
    font-size: 20px;
    height: 25px;
    border: none;
    outline: none;
    color: white;
    background-color: #6C69FF;
}
.headerDropMenu {
    z-index: 1001;
    padding: 0;
    text-align: center;
    color: black;
    margin-top: 40px;
    position: absolute;
    right: 10px;
    height: auto;
    width: 100px;
    background-color: white;
    border-radius: 7px 0 7px 7px;
}
.menuBtns {
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
    background: none;
    border: none;
    width: 100%;
}
.menuBtns:hover {
    transition: .7s;
    background-color: rgba(140, 139, 140, 0.36);
}

.navbar {
    margin: 10px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.navbar a{
    text-decoration: none;
    color: white;
    opacity: .6;
    font-size: 22px;
    border-radius: 5px;
}
.navbar a:hover{
    color: white;
    transition: .7s;
    opacity: 1;
}

.opacity1 {
    opacity: 1;
}
.opacity7 {
    opacity: .7;
}
