.forgotPassword {
    text-align: center;
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    background-color: white;
    -webkit-box-shadow: 0 0 11px -5px rgba(59, 162, 242, 1);
    -moz-box-shadow: 0 0 11px -5px rgba(59, 162, 242, 1);
    box-shadow: 0 0 11px -5px rgba(59, 162, 242, 1);
}
/*===Block Login Form===*/
.form  {
    padding: 5px  0 0 0;
}
.form input {
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px;
    width: 70%;
    outline: none;
}
.form button {
    padding: 0;
    margin: 20px 0 10px 0;
    font-size: 22px;
    width: 70%;
}
/*===Block Login And Registration ===*/
.loginAndReg {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}
.loginAndReg span {
    width: 50%;
    cursor: pointer;
}
.loginAndReg a {
    text-decoration: none;
    color: black;
}
.loginAndReg a:hover {
    transition: .6s;
    color: #baaafa;
}