.forgotPassword {
    position: absolute;
    text-align: center;
    height: 270px;
    width: 300px;
    top: 50%;
    left: 50%;
    margin: -135px 0 0  -150px;
    background-color: white;
    -webkit-box-shadow: 0 0 11px -5px rgba(59, 162, 242, 1);
    -moz-box-shadow: 0 0 11px -5px rgba(59, 162, 242, 1);
    box-shadow: 0 0 11px -5px rgba(59, 162, 242, 1);
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr;
}
/*===Block Login Form===*/
.form  {
    padding: 15px 5px 5px 5px;
}
.form input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 70%;
    outline: none;
}
.form .errorsForm {
    margin-top: 5px;
}
.form .errorsForm i {
    margin-right: 3px;
    font-size: 14px;
}
.form button {
    cursor: pointer;
    margin-top: 15px;
    width: 70%;
    height: 30px;
    background-color: #8e74f7;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color .7s;
}
.form button:hover {
    background-color: #7050f2;
}
/*===Block Login And Registration ===*/
.loginAndReg {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.loginAndReg span {
    width: 50%;
    cursor: pointer;
}
.loginAndReg a {
    text-decoration: none;
    color: black;
}
.loginAndReg a:hover {
    transition: .6s;
    color: #baaafa;
}