.registration {
    text-align: center;
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    background-color: white;
    -webkit-box-shadow: 0 0 11px -5px rgba(59, 162, 242, 1);
    -moz-box-shadow: 0 0 11px -5px rgba(59, 162, 242, 1);
    box-shadow: 0 0 11px -5px rgba(59, 162, 242, 1);
}

/*===Block Login Form===*/
.form {
    padding: 5px  0 0 0;
}

.form input {
    border-radius: 5px;
    margin: 0 auto;
    width: 70%;
    outline: none;
}
.form button {
    padding: 0;
    margin: 20px 0 10px 0;
    font-size: 20px;
    width: 70%;
}
/*===Block Registration with Login===*/
.loginAndForgot{
    padding: 10px 30px 10px 0;
    display: flex;
    justify-content: space-between;
}
.loginAndForgot span {
    width: 50%;
    cursor: pointer;
}
.loginAndForgot a {
    text-decoration: none;
    color: black;
}
.loginAndForgot a:hover {
    transition: .6s;
    color: #baaafa;
}